<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.matt.one">

    <application>
        <activity android:name="com.matt.one.ChildOneActivity" />
        <activity android:name="com.matt.two.ChildTwoActivity" />
    </application>

</manifest>